%header.main-header
  %section.container.cf
    %nav.header-nav
      %ul.main-menu
        %li= link_to "Home", root_path
        %li.has-menu
          %a Categories
          %ul.secondary-menu
            %li= link_to "Anniversary"
            %li
              %a Birthday
            %li= link_to "Congratulations"
            %li
              %a Holiday
        %li= link_to "Favorites"
        %li= link_to "Settings"
      .right-nav-bar
        %input.header-search{ type: 'search', placeholder: 'bonne nuit' }
        %button.btn.btn-search{ type: 'search' } Search
        %a.login= link_to "Log in", login_path
